body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: #fff;
  background: url(../media/pictures/piano.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .overlay_result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

#home-section .overlay_result .image{
  position: fixed;
  height: 400px;
  width: auto;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;

}

#home-section .canvas{
  position: relative;
  background: #fff; overlay not working with that*/
  opacity: 0.5;
}

#about-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.blink_me {
  animation: blinker 0.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
